/* Provide sufficient contrast against white background */

html {
    width: auto;
    box-sizing: content-box;
}

body {
    height: auto;
    width: auto;
    background: #e4e9e6;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

a {
    color: #0366d6;
}